.demo-table {
  width: 100%;
}

.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-nomeproduto {
  padding-left: 16px;
  font-size: 20px;
}
